<h2>
  <span>SPLURTY IRISH/ No. <%= @quote.id %></span>
  Find wisdom in <u> old Irish sayings</u> like . . .
</h2>

<h1><%= @quote.saying %></h1>
<h2>- <%= @quote.translation %></h2>

<!-- Not doing the pull-right in the h2 because English translation lining up with Irish saying makes more sense. -->

<br class="clear" />
<br />
<br />
<br />
