<h1>Enter an Irish Saying &amp English Translation <br />Scríobh Seanfhocal &amp Aistriú Go Béarla</h1>
<%= simple_form_for @quote do |f| %>
  <%= f.input :saying %>
  <%= f.input :translation %>
  <br />
  <%= f.submit :'Create it / Déan é', class: 'btn btn-danger' %>
<% end %>
